/* section class="container" */

.container {
      width: 960px;
      }


/* Navigation bar */

nav {
      float: right;
      }

nav ul {
       margin-right: 200px;
       }
nav ul li {
      list-style-type: none;
      display: inline-block;
      }

nav ul li a {
      text-decoration: none;
      padding-right: 25px;
      padding-left: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: grey;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      }

/* section class="middle_container" */

.middle_container {
       width: 960px;
       float: right;
       padding: 20px;
       background-color: #D0D0D0;
       border-top-right-radius:10px;
       margin-top: -5px;
       }


/* section class="small_container" */

.small_container {
       width: 800px;
       float: right;
       background-color: #cff;
       border-top-left-radius:10px;
       border-top-right-radius:10px;
       }


/* div id="parag" */

#parag {
       float: right;
       padding-top: 40px;
       padding-right: 35px;
       padding-left: 35px;
       padding-bottom: 25px;
       }
